<div class="content">
  <div class="wrapper">

    <div class="ordersBox">
      <div class="newOrderSec">
        <div class="newOrderBtn" routerLink="/newOrder">
          <div class="btnText">
              New Order
          </div>
        </div>
      </div>
      <cdk-virtual-scroll-viewport class="viewport" itemSize="50">
        <div class="singleOrder" *cdkVirtualFor="let order of unpaidOrders">
          <div class="box" id="{{order}}" (click)="viewOrder(order)">
            <div>
                {{order}}
            </div>
          </div>
        </div>
      </cdk-virtual-scroll-viewport>
    </div>

    <div class="right">
      <div class="orderDetailsBox">
        <cdk-virtual-scroll-viewport class="detailsViewport" itemSize="50">
          <div class="orderHeader">
            <div class="numberBox">Order #{{viewedOrder}}</div>
            <div class="completedMark hidden" id="completedMark">
              <div>
                  Completed
              </div>
            </div>
          </div>
          <div class="singleItem" *cdkVirtualFor="let item of viewedOrderItems">
            <div class="singleItemBox">
              <div class="singleItemName">+ {{item.name}}</div>
            </div>
          </div>
        </cdk-virtual-scroll-viewport>
      </div>
      <div class="orderPymtBox">
        <div class="payOptions">

        </div>
        <div class="totals">
          <div class="subtotal">
            <div>
              Subtotal:
            </div>
            <div>
              ${{orderSubtotal}}
            </div>
          </div>
          <div class="tax">
              <div>
                  Tax:
                </div>
                <div>
                  ${{orderTax}}
                </div>
          </div>
          <div class="grandTotal">
              <div>
                  Total:
                </div>
                <div>
                  ${{orderTotal}}
                </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>