.content {
  height: 100%;
  width: 100%;
  min-height: 700px;
  display: flex;
}
.content .wrapper {
  height: calc(100% - 75px);
  width: 100%;
  margin-top: 75px;
  display: flex;
}
.content .wrapper .ordersBox {
  height: 100%;
  width: 30%;
  background-color: lightgray;
}
.content .wrapper .ordersBox .newOrderSec {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
}
.content .wrapper .ordersBox .newOrderSec .newOrderBtn {
  height: 70px;
  width: 90%;
  margin-left: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 1px black;
  background-color: lightcoral;
  cursor: pointer;
  outline: none;
}
.content .wrapper .ordersBox .newOrderSec .newOrderBtn .btnText {
  font-size: 30px;
}
.content .wrapper .ordersBox .viewport {
  height: calc(95% - 100px);
  width: 90%;
  margin: 0 auto;
  background-color: white;
}
.content .wrapper .ordersBox .viewport .singleOrder {
  height: 75px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content .wrapper .ordersBox .viewport .singleOrder .box {
  height: 50px;
  width: 90%;
  font-size: 40px;
  box-shadow: 0 0 1px black;
  background-color: lightgreen;
  cursor: pointer;
}
.content .wrapper .ordersBox .viewport .singleOrder .completed {
  background-color: gold;
}
.content .wrapper .right {
  height: 100%;
  width: 70%;
}
.content .wrapper .right .orderDetailsBox {
  height: calc(100% - 200px);
  width: 100%;
}
.content .wrapper .right .orderDetailsBox .detailsViewport {
  height: calc(100% - 95px);
  width: 100%;
}
.content .wrapper .right .orderDetailsBox .detailsViewport .orderHeader {
  height: 75px;
  width: 100%;
  display: flex;
  align-items: center;
}
.content .wrapper .right .orderDetailsBox .detailsViewport .orderHeader .numberBox {
  height: 50px;
  font-size: 50px;
  margin-left: 40px;
}
.content .wrapper .right .orderDetailsBox .detailsViewport .orderHeader .completedMark {
  height: 50px;
  width: 100px;
  margin-left: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 0 0 1px black;
  background-color: gold;
  opacity: .8;
}
.content .wrapper .right .orderDetailsBox .detailsViewport .orderHeader .hidden {
  display: none;
}
.content .wrapper .right .orderDetailsBox .detailsViewport .singleItem {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content .wrapper .right .orderDetailsBox .detailsViewport .singleItem .singleItemBox {
  height: 50px;
  width: 90%;
  background-color: lightgray;
  display: flex;
  align-items: center;
}
.content .wrapper .right .orderDetailsBox .detailsViewport .singleItem .singleItemBox .singleItemName {
  font-size: 30px;
}
.content .wrapper .right .orderPymtBox {
  height: 200px;
  width: 100%;
  display: flex;
  background-color: lightgray;
}
.content .wrapper .right .orderPymtBox .payOptions {
  height: 100%;
  width: 70%;
  background-color: #6ebb50;
}
.content .wrapper .right .orderPymtBox .totals {
  height: 100%;
  width: 30%;
}
