.content {
    height: 100%;
    width: 100%;
    display: flex;

    .wrapper {
        height: ~"calc(100% - 75px)";
        width: 100%;
        margin-top: 75px;
        display: flex;

        .ordersBox {
            height: 100%;
            width: 30%;
            background-color: lightgray;

            .btnArea {
                height: 100px;
                display: flex;
                justify-content: center;
                align-items: center;

                .newOrderSec {
                    height: 100%;
                    width: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
    
                    .newOrderBtn {
                        height: 70px;
                        width: 90%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        box-shadow: 0 0 1px black;
                        background-color: lightcoral;
                        cursor: pointer;
                        outline: none;
    
                        .btnText {
                            font-size: 30px;
                        }
                    }
                }
                .navHomeSec {
                    height: 100%;
                    width: 50%;
                    display: flex;
                    align-items: center;

                    .navHomeBtn {
                        height: 70px;
                        width: 90%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        box-shadow: 0 0 5px black;
                        background-color: lightblue;
                        cursor: pointer;
                        outline: none;

                        .btnText {
                            font-size: 30px;
                        }
                    }
                }
            }

            .viewport {
                height: ~"calc(95% - 100px)";
                width: 90%;
                margin: 0 auto;
                background-color: white;

                .singleOrder {
                    height: 75px;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .box {
                        height: 50px;
                        width: 90%;
                        // border-radius: 5px;
                        font-size: 40px;
                        box-shadow: 0 0 1px black;
                        background-color: lightgreen;
                        cursor: pointer;
                    }
                    .completed {
                        background-color: gold;
                    }
                }
            }


        }
        
        .right {
            height: 100%;
            width: 70%;

            .orderDetailsBox {
                height: ~"calc(100% - 200px)";
                width: 100%;

                .detailsViewport {
                    height: 100%;
                    width: 100%;

                    .orderHeader {
                        height: 75px;
                        width: 100%;
                        display: flex;
                        align-items: center;

                        .numberBox {
                            height: 50px;
                            font-size: 50px;
                            margin-left: 40px;
                        }

                        .completedMark {
                            height: 50px;
                            width: 100px;
                            margin-left: 100px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            color: white;
                            text-shadow: 0 0 1px black;
                            background-color: gold;
                            opacity: .8;
                        }
                        .hidden {
                            display: none;
                        }
                    }

                    .singleItem {
                        height: 60px;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .singleItemBox {
                            height: 50px;
                            width: 90%;
                            background-color: lightgray;
                            display: flex;
                            align-items: center;

                            .singleItemBoxWrapper {

                                .singleItemName {
                                    font-size: 30px;
                                }
                                
                                .singleItemNotes {
                                    font-size: 16px;
                                    font-style: italic;
                                    margin-left: 50px;
                                }
                            }
                        }
                    }
                }
            }

            .orderPymtBox {
                height: 200px;
                width: 100%;
                display: flex;
                background-color: lightgray;

                .payOptions {
                    height: 100%;
                    width: 70%;
                    background-color: rgb(110, 187, 80);
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .pymtBtn {
                        height: 100px;
                        width: 300px;
                        background-color: lightgreen;
                        box-shadow: 0 0 5px black;
                        font-size: 30px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        outline: none;
                    }
                }

                .totals {
                    height: 100%;
                    width: 30%;
                    font-size: 30px;

                    .subtotal {
                        opacity: 0.8;
                        display: flex;
                        justify-content: space-between;
                    }
                    .tax {
                        opacity: 0.8;
                        display: flex;
                        justify-content: space-between;
                    }
                    .grandTotal {
                        display: flex;
                        justify-content: space-between;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}