.content {
  height: 100%;
  width: 100%;
  min-height: 730px;
  display: flex;
}
.content .wrapper {
  height: calc(100% - 75px);
  width: 100%;
  margin-top: 75px;
  display: flex;
}
.content .wrapper .ordersBox {
  height: 100%;
  width: 30%;
  display: flex;
  align-items: center;
}
.content .wrapper .ordersBox .viewport {
  height: 90%;
  width: 100%;
}
.content .wrapper .ordersBox .viewport .singleOrder {
  height: 75px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content .wrapper .ordersBox .viewport .singleOrder .box {
  height: 50px;
  width: 90%;
  border-radius: 5px;
  font-size: 16px;
  box-shadow: 0 0 5px black;
  background-color: lightgreen;
  cursor: pointer;
}
.content .wrapper .right {
  height: 100%;
  width: 70%;
}
.content .wrapper .right .orderDetailsBox {
  height: calc(100% - 200px);
  width: 100%;
}
.content .wrapper .right .orderPymtBox {
  height: 200px;
  width: 100%;
  display: flex;
  background-color: lightgray;
}
.content .wrapper .right .orderPymtBox .payOptions {
  height: 100%;
  width: 70%;
  background-color: greenyellow;
}
.content .wrapper .right .orderPymtBox .totals {
  height: 100%;
  width: 30%;
}
