.content {
  position: absolute;
  height: 100%;
  width: 100%;
}
.content .wrapper {
  height: calc(100% - 75px);
  width: 100%;
  margin-top: 75px;
  display: flex;
}
.content .wrapper .orderListSec {
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
}
.content .wrapper .orderListSec .viewport {
  height: 90%;
  width: 90%;
  background-color: white;
}
.content .wrapper .orderListSec .viewport .singleOrder {
  height: 75px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content .wrapper .orderListSec .viewport .singleOrder .box {
  height: 50px;
  width: 90%;
  font-size: 40px;
  box-shadow: 0 0 1px black;
  background-color: lightgreen;
  cursor: pointer;
}
.content .wrapper .orderDisplaySec {
  width: 70%;
  height: 100%;
}
.content .wrapper .orderDisplaySec .heading {
  height: 75px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.content .wrapper .orderDisplaySec .heading .orderNumberBox {
  height: 60px;
  width: 250px;
  margin-left: 50px;
}
.content .wrapper .orderDisplaySec .heading .orderNumberBox .orderNumber {
  font-size: 60px;
}
.content .wrapper .orderDisplaySec .heading .orderInfo {
  width: calc(100% - 500px);
}
.content .wrapper .orderDisplaySec .heading .orderComplete {
  height: 100%;
  width: 200px;
  display: flex;
  justify-content: center;
}
.content .wrapper .orderDisplaySec .heading .orderComplete .completeBtn {
  height: 50px;
  width: 160px;
  display: flex;
  margin-top: 25px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 1px black;
  background-color: lightcoral;
  cursor: pointer;
}
.content .wrapper .orderDisplaySec .heading .orderComplete .completeBtn .btnText {
  font-size: 20px;
}
.content .wrapper .orderDisplaySec .heading .orderComplete .faded {
  opacity: 0.5;
}
.content .wrapper .orderDisplaySec .itemViewport {
  height: calc(100% - 95px);
  width: 100%;
}
.content .wrapper .orderDisplaySec .itemViewport .orderItem {
  width: calc(100% - 60px);
  margin-left: 50px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: lightgray;
}
.content .wrapper .orderDisplaySec .itemViewport .orderItem .itemName {
  font-size: 30px;
}
.content .wrapper .orderDisplaySec .itemViewport .orderItem .itemSpecs {
  font-size: 16px;
  font-style: italic;
  margin-left: 50px;
}
