<div class="content">
  <div class="wrapper">
      <div class="orderListSec">
          <cdk-virtual-scroll-viewport class="viewport" itemSize="50">
            <div class="singleOrder" *cdkVirtualFor="let order of openOrders">
              <div class="box" (click)="viewOrder(order)">
                {{order}}
              </div>
            </div>
          </cdk-virtual-scroll-viewport>
        </div>
        <div class="orderDisplaySec">
          <div class="heading">
            <div class="orderNumberBox">
                <div class="orderNumber">
                    {{viewedOrderNum}}
                </div>
            </div>
            <div class="orderInfo">

            </div>
          </div>
          <div class="orderItem">

          </div>
        </div>
  </div>
</div>