.content {
    position: absolute;
    height: 100%;
    width: 100%;

    .wrapper {
        height: ~"calc(100% - 75px)";
        width: 100%;
        margin-top: 75px;
        display: flex;
        
        .orderListSec {
            height: 100%;
            width: 30%;
            display: flex;
            justify-content: center;
            align-items: center;
    
            .viewport {
                height: 90%;
                width: 100%;
    
                .singleOrder {
                    height: 75px;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
    
                    .box {
                        height: 50px;
                        width: 90%;
                        font-size: 40px;
                        // border-radius: 5px;
                        box-shadow: 0 0 1px black;
                        background-color: lightgreen;
                        cursor: pointer;
                    }
                }
            }
        }
    
        .orderDisplaySec {
            width: 70%;
            height: 100%;
                
            .heading {
                height: 75px;
                // background-color: lightcoral;
                display: flex;
                align-items: center;
                margin-bottom: 20px;

                .orderNumberBox {
                    height: 60px;
                    width: 250px;
                    margin-left: 50px;
                    // background-color: lightcoral;

                    .orderNumber {
                        font-size: 60px;
                        // text-shadow: 0 0 3px black;
                    }
                }

                .orderInfo {
                    width: ~"calc(100% - 500px)";
                }

                .orderComplete {
                    height: 100%;
                    width: 200px;
                    display: flex;
                    justify-content: center;

                    .completeBtn {
                        height: 50px;
                        width: 160px;
                        display: flex;
                        margin-top: 25px;
                        justify-content: center;
                        align-items: center;
                        box-shadow: 0 0 1px black;
                        background-color: lightcoral;
                        cursor: pointer;

                        .btnText {
                            font-size: 20px;
                        }
                    }
                }
            }

            .itemViewport {
                height: ~"calc(100% - 95px)";
                width: 100%;

                .orderItem {
                    width: ~"calc(100% - 60px)";
                    margin-left: 50px;
                    margin-right: 10px;
                    margin-bottom: 10px;
                    background-color: lightgray;

                    .itemName {
                        font-size: 30px;
                    }

                    .itemSpecs {
                        font-size: 16px;
                        font-style: italic;
                        margin-left: 50px;
                    }
                }
            }
            
        }
    }
}