.content {
    position: absolute;
    height: 100%;
    width: 100%;

    .wrapper {
        height: ~"calc(100% - 75px)";
        width: 100%;
        margin-top: 75px;
        display: flex;
        
        .orderListSec {
            height: 100%;
            width: 30%;
            display: flex;
            justify-content: center;
            align-items: center;
    
            .viewport {
                height: 90%;
                width: 100%;
    
                .singleOrder {
                    height: 75px;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
    
                    .box {
                        height: 50px;
                        width: 90%;
                        font-size: 20px;
                        border-radius: 5px;
                        box-shadow: 0 0 5px black;
                        background-color: lightgreen;
                        cursor: pointer;
                    }
                }
            }
        }
    
        .orderDisplaySec {
            width: 70%;
            height: 100%;
                
            .heading {
                height: 75px;
                // background-color: lightcoral;
                display: flex;
                align-items: center;

                .orderNumberBox {
                    height: 50px;
                    width: 50px;
                    margin-left: 50px;
                    // background-color: lightcoral;

                    .orderNumber {
                        font-size: 30px;
                        color: white;
                        text-shadow: 0 0 3px black;
                    }
                }

                .orderInfo {

                }
            }

            .orderItem {

            }
            
        }
    }
}