<div class="content">
  <div class="btnSection">

    <!-- Section for nav button to Add New User page -->
    <div class="btnBox">
      <div class="btn" id="newUser" routerLink="/addUser">
        <div class="txt">
            Add New User
        </div>
      </div>
    </div>

    <!-- Section for nav button to Order History Search page -->
    <div class="btnBox">
      <div class="btn" id="orderHist" routerLink="/orderHistSearch">
        <div class="txt">
            Get Order History
        </div>
      </div>
    </div>

    <!-- Section for nav button to Remove User page -->
    <div class="btnBox">
      <div class="btn" id="removeUser" routerLink="/removeUser">
        <div class="txt">
            Remove User
        </div>
      </div>
    </div>

    <!-- Section for nav button to Home page -->
    <div class="navHome">
      <div class="navHomeBtn" routerLink="/home">
        <div class="txt">
            Home Page
        </div>
      </div>
    </div>

  </div>
</div>